<div class="container">
    <div class="row pt-5">
        <div class="col-10">
            <div class="mx-auto" style="width: 700px;">
                <h1>Pension Management Portal</h1> 
            </div>  
        </div>
        <div class="col-2">
            <button class="btn btn-primary ms-5 ps-5 pe-5" type="button" (click)="logout()">Logout</button>
        </div>
    </div>
    <div class="row pt-5" style="width: 800px;">
        <div class="col-2"><h5>Aadhaar Number </h5></div>
        <div class="col-3"><input class="form-control"  type="text" #aadhaar><br/><br/></div>
    </div>
<button class="btn btn-primary ms-5 ps-5 pe-5" type="button" (click)="searchForAadhaar(aadhaar)">Search</button>
<p class="pt-4 text-danger" *ngIf="noAadhaar">does not have the data</p>
</div>
